services:
  storage-api:
    build: .
    container_name: storage-api
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
    command: python app.py  
    depends_on:
      - minio

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"   # S3/API
      - "9001:9001"   # Web Console
    volumes:
      - ./data:/data

  prometheus:
    build:
      context: .
      dockerfile: Dockerfile.prometheus
    # image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert_rules.yml:/etc/prometheus/alert_rules.yml 
    ports:
      - "9090:9090"
    depends_on:
      - storage-api

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - default  

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-data:
