services:
  storage-api:
    build: .
    container_name: storage-api
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
      - ADMIN_TOKEN=admin-secret
      - BACKUP_TOKEN=backup-secret
      - READ_TOKEN=read-secret
    command: python app.py  
    depends_on:
      - minio

    # Healthcheck to ensure the API is responding to HTTP requests
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s  

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"   # S3/API
      - "9001:9001"   # Web Console
    volumes:
      - ./data:/data

  prometheus:
    build:
      context: .
      dockerfile: Dockerfile.prometheus
    container_name: prometheus
    user: "0:0"
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    depends_on:
      - storage-api
    
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - default  

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

  backup-scheduler:
    build:
      context: .
      dockerfile: scheduler/Dockerfile.scheduler
    container_name: backup-scheduler
    environment:
      - API_BASE=http://storage-api:5000/api/v1
      - TZ=Europe/Amsterdam
    depends_on:
      storage-api:
        condition: service_healthy # This ensures the API is ready to handle backup requests.   

    # Ensure the cron daemon is running inside the container    
    healthcheck:
      test: ["CMD-SHELL", "pgrep crond || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3    

volumes:
  grafana-data:
    name: infra-automation-storage-project_grafana-data
  prometheus-data:
    name: infra-automation-storage-project_prometheus-data




