---
- name: Check metrics endpoint
  uri:
    url: "http://localhost:5000/metrics"
    method: GET
    return_content: yes
  register: metrics_result
  failed_when: >
    metrics_result.status != 200 or
    ('storage_volumes_total' not in metrics_result.content)

- debug:
    var: metrics_result.content
